@import url("https://unpkg.com/ress/dist/ress.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 10px;
  min-width: 450px;
  color: #454a4a;
  background-image: linear-gradient(to right, #d9efed, #f3f5e1);
}

form#card {
  display: grid;
}

form#card > #recipients {
  background-color: #ffffff;
  border-right: #e6f39c 2px solid;
  border-left: #8bdde1 2px solid;
  padding: .5ex .5ex 0;
}

form#card > #point {
  background-color: #ffffff;
  border-right: #e6f39c 2px solid;
  border-left: #8bdde1 2px solid;
  padding: 0 .5ex;
}

form#card > #message {
  background-color: #ffffff;
  border-right: #e6f39c 2px solid;
  border-left: #8bdde1 2px solid;
  padding: 0 .5ex .5ex;
}

form#card > #buttons {
  margin-top: 1ex;
}

input#recipients_slot {
  line-height: 1.5em;
}

.recipients .recipient {
  color: #f74c40;
  border: solid thin #f74c40;
  padding: 0 1ex;
  margin: .2ex .1ex;
  border-radius: 1em;
}

.recipients .recipient.exist {
  color: #454a4a;
  border-color: #454a4a;
}

.recipients .recipient:last-child {
  margin-right: 1ex;
}

.recipients .recipient unipos-member [slot="picture"] {
  width: 1.5em;
}

.recipients .recipient unipos-member [slot="id"] {
  display: none;
}

.recipients .recipient unipos-member::shadow slot[name="uname"] {
  display: none;
}

#card input:focus, textarea:focus {
  outline: 0;
  border: 0;
}

#card #point::before {
  content: '+';
}

#card #point input[name="point"] {
  width: 5em;
}

#card #message textarea[name="message"] {
  width: 100%;
}

#card button[type="submit"] {
  padding: .5ex 1ex;
  background-color: #55cbe1;
  border-radius: 2px;
  color: #ffffff;
  border: solid thin #55cbe1;
}

#card:invalid button[type="submit"] {
  color: #d3d8d8;
  border-color: #d3d8d8;
  background-color: #ffffff;
}

#card button[type="submit"]::before {
  content: 'send';
  font-family: 'Material Icons';
  margin-right: .5ex;
}

#card button[type="reset"] {
  display: none;
}

#progress[value="0"] {
  display: none;
}