@import url("https://unpkg.com/ress/dist/ress.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 10px;
  min-width: 450px;
  color: #454a4a;
  background-image: linear-gradient(to right, #d9efed, #f3f5e1);
}

fieldset {
  border: 0;
}

form#card > fieldset {
  display: grid;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-right-color: #e6f39c;
  border-left-color: #8bdde1;
  padding: .5ex;
  margin-bottom: 1ex;
}

input#recipients_slot {
  line-height: 1.5em;
}

.recipients unipos-recipient {
  padding: 0 1ex;
  margin: .2ex .1ex;
}

.recipients unipos-recipient:last-child {
  margin-right: 1ex;
}

.recipients unipos-recipient unipos-member::part(id),
.recipients unipos-recipient unipos-member::part(uname) {
  display: none;
}

#card input:focus, textarea:focus {
  outline: 0;
  border: 0;
}

#card #point::before {
  content: '+';
}

#card #point input[name="point"] {
  width: 5em;
}

#card #message textarea[name="message"] {
  width: 100%;
}

#card button[type="submit"] {
  padding: .5ex 1ex;
  background-color: #55cbe1;
  border-radius: 2px;
  color: #ffffff;
  border: solid thin #55cbe1;
}

#card:invalid button[type="submit"] {
  color: #d3d8d8;
  border-color: #d3d8d8;
  background-color: #ffffff;
}

#card button[type="submit"]::before {
  content: 'send';
  font-family: 'Material Icons';
  margin-right: .5ex;
}

#card button[type="reset"] {
  display: none;
}

#progress[value="0"] {
  display: none;
}