body {
  margin: 0;
  padding: 10px;
  min-width: 450px;
}

#card {
  display: grid;
}

.recipients .recipient {
  border: solid thin black;
  margin: 0 .5ex;
  border-radius: 2px;
}

.recipients .recipient.not_exist {
  color: firebrick;
  border-color: firebrick;
}

.recipients .recipient img.picture_url {
  width: 2em;
}

.recipients .recipient.exist .uname::before {
  content: '(@';
}

.recipients .recipient.exist .uname::after {
  content: ')';
}

#recipients_slot {
  resize: none;
}